@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: $mainBlue;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}