.benefits {
  background-color: rgba($mainBlue, 1);
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    &--before-end::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-color: $mainPink;
      width: 3px;
      height: 100%;
      border-radius: 2px;
      transform: skewX(-15deg);
    }
  }
  
  &__title {
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
  }

  &__description {
    font-weight: 300;
  }
  

  @mixin atLarge {
    background-color: rgba($mainBlue, 0.7);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 25%;
  }
}