.large-hero {


  @mixin atSmall {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;

    @mixin atMedium {
      width: auto;
      min-height: 100%;
      position: absolute;
      right: 0;
    }

  }

  &__text-content {
    color: $mainBlue;
    position: absolute;
    top: 15%;
    left: 0;
    background-color: rgba(#fff, .7);
    width: 100%;
    padding: 2rem;

    @mixin atSmall {
      left: 40%;
      width: 60%;

    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 2rem 0;
    padding: 0;

    @mixin atLarge {
      font-size: 3.2rem;
    }
  }

  &__subtitle {
    font-size: 1.75rem;
    font-weight: 300;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;

    @mixin atLarge {
      font-size: 2rem;
    }
  }

  
}